<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='create.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Create Cliente</title>
</head>
<body>
    <div class="container">
    <h1>Create Cliente</h1>
    <form method="POST" action="{{ url_for('create_cliente') }}">
        <label for="codice_fiscale">Codice Fiscale:</label>
        <input type="text" name="codice_fiscale" required><br>

        <label for="nome_cliente">Nome:</label>
        <input type="text" name="nome_cliente" required><br>

        <label for="cognome_cliente">Cognome:</label>
        <input type="text" name="cognome_cliente" required><br>

        <label for="partita_iva_cliente">Partita IVA:</label>
        <input type="text" name="partita_iva_cliente" required><br>

        <label for="via_cliente">Via:</label>
        <input type="text" name="via_cliente" required><br>

        <label for="civico_cliente">Civico:</label>
        <input type="number" name="civico_cliente" required><br>

        <label for="telefono_cliente">Telefono:</label>
        <input type="text" name="telefono_cliente" required><br>

        <label for="mail_cliente">Email:</label>
        <input type="email" name="mail_cliente" required><br>

        <button type="submit" class="btn">Create Cliente</button>

    </form>
    </div>
</body>
</html>
